[Unit]
Description= mediaserver
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3 /root/media-server/mediaserver.py
WorkingDirectory=/home/pi

[Install]
WantedBy=multi-user.target



sudo systemctl daemon-reload
